<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Work+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">            
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/about.css">
    <title>About-Fashion house</title>
  </head>
  <body>
<header> 
<!--navar-->
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="index.html">Fashion House</a>
        <span><img src="../static/images/item.png" class="menu" onclick="openNav()"> </span>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto">
                <li role="presentation" class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="stores.html">Store</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link active" href="about.html">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Contact</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="adminLogIn.html">Admin Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--navigation menu for mobile devices-->
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="index.html">Home</a>
      <a href="stores.html">Store</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
      <a href="adminLogIn.html">Admin Login</a>
    </div>
  </div>
</nav>
</header>
<main>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 top">Fashion House</h1>
        <p class="lead">About us</p>
        <hr class="my-2">
        <p class="explain">
           <span style="color: crimson; font-weight: 700; font-size: 40px;">F</span>ashion House is
            a place for fashion designers to showcase their designs , it is a place for people
            to find the right fashion designers to design their clothes for them , so maybe
            you are a work from home fashion designer who has a machine but doesn't have a shop , 
            Fashion house is your shop,it is a place where
           fashion designers/tailors are connected to people who are intrested in finding the right fashion designer
           for their products, it is also a place where investors meet good fashion designers to partner with them,
           hire them or run contracts with them.
           Fashion house is a place where we do everything about designing clothes , we are so intrested in the 
           run way that we help fashion designers showcase their talents, design, skills and potentials so
           people who are looking for a fashion designer can get the best of them. <br><br>
            In fashion House , people who are looking for a good fashion designer would connect with the tailors and
           fashion designers here to make and deliver their clothes to them at home without any stress
           it is a place where your design meets the market.
           Fashion House is a free website for everyone to post their designs and attract potential clients.
        </p>
    </div>
</div>


</main>


<footer>
  <div class="footer-dark bg-dark end pt-5 mt-5">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Fashion design</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Training</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Fashion House</h3>
                    <p>
                      Fashion house is a website for Fashion designers and Tailors to post their designs,
                      clothes and styles ,for customers and fashion lovers to see the designs of tailors
                       and contact the designer.
                    
                      </p>
                </div>
                <div class="col item social">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-snapchat"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Fashion House © 2021</p>
        </div>
    </footer>
</div>
</footer>


    <!--script for nav-->
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }
    
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
    </script>
    <!--end of script for nav-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>