<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Work+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Fashion House</title>
  </head>
  <body>
<header>
  <nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand text-light" href="#">Fashion House</a>
      <!--the toggler for the full screen navigation menu-->
        <span><img src="../static/images/item.png" class="menu" onclick="openNav()"> </span>
      
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li role="presentation" class="nav-item"><a class="nav-link active text-light" href="index.html">Home</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link text-light" href="stores.html">Store</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link text-light" href="about.html">About</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link text-light" href="contact.html">Contact</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link text-light" href="adminLogIn.html">Admin Login</a></li>
            </ul>
        </div>
    </div>
    <!--navigation menu for mobile devices-->
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="index.html">Home</a>
        <a href="stores.html">Store</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="adminLogIn.html">Admin Login</a>
      </div>
    </div>
</nav>
<!--page intro-->
<div class="intro">
  <h2>LET THE WORLD SEE YOUR DESIGN</h2>
  <p>Local tailors post their designs here to attract customers online</p>
  <a href="about.html">
<button type="button" class="btn btn-default learn">Learn more</button>
</a>
</div>
</header>
<main>
  <h3 class="text-center mt-4 mb-4">Trends</h3>
<!--THE NEW TESTING OF IMAGE GRID FOR MAKING IMAGES LOOK GREAT-->
<div class="row grid">
  <div class="column">
    <div class="image-container">
    <a href="#"><img src="../static/images/woman.jpg" class="img-fluid"></a>
    <p> by Mariam Abiodun</p>
  </div>
  <div class="image-container">
    <a href="#"><img src="../static/images/man.jpg" class="img-fluid"></a>
    <p> by Emma Davies</p>
  </div>
  <div class="image-container">
    <a href="#"><img src="../static/images/alex.jpg" class="img-fluid"></a>
    <p> by alexander's</p>
  </div>    
  <div class="image-container">
    <a href="#"><img src="../static/images/manly.jpg" class="img-fluid"></a>
    <p> by Peter wears</p>
  </div>  
  <div class="image-container">
    <a href="#"><img src="../static/images/big.jpg" class="img-fluid"></a>
    <p> by big boys</p>
  </div>
  </div>
  <div class="column">
    <div class="image-container">
      <a href="#"><img src="../static/images/sisters.jpg" class="img-fluid"></a>
      <p> by Tolu styles</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/piano.jpg" class="img-fluid"></a>
      <p> by The Keys</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/show.jpg" class="img-fluid"></a>
      <p> by Jane snow</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/murat.jpg" class="img-fluid"></a>
      <p> by Murat Ekanem</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/fold.jpg" class="img-fluid"></a>
      <p> by Mk collections</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/ank1.webp" class="img-fluid"></a>
      <p> by Anike's</p>
    </div>
    </div>
  <div class="column">
    <div class="image-container">
      <a href="#"><img src="../static/images/real.jpg" class="img-fluid"></a>
      <p> by Tunde casual</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/tall.jpg" class="img-fluid"></a>
      <p> by Tall Tayo</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/leon.jpg" class="img-fluid"></a>
      <p> by Leon p</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/jenny.jpg" class="img-fluid"></a>
      <p> by Jenny & doll</p>
    </div>
    </div>
  <div class="column">
    <div class="image-container">
      <a href="#"><img src="../static/images/sweet.jpg" class="img-fluid"></a>
      <p> by Clothations</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/asoebi.png" class="img-fluid"></a>
      <p> by Wearing Me</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/vasile.jpg" class="img-fluid"></a>
      <p> by Yisa tailor</p>
    </div>
    <div class="image-container">
      <a href="#"><img src="../static/images/prince.jpg" class="img-fluid"></a>
      <p> by Prince Mohammed</p>
    </div>
    </div>
</div>




<!--END OF TEST, YOU CAN NOW DELETE IF NOT NEEDED-->
  <div class="highlight-wing pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="intro">
                    <h2 style="color: crimson;" class="pt-5">Are You A Fashion Designer ?</h2>
                    <p style="color: black">Post your designs on fashion House for free, get customers
                      to patronise you <br>
                  send your design to Our whatsapp group along with your name and phone number <br>
                and let customers see your design </p>
                    <a class="btn btn-default learn text-center" role="button" href="contact.html">Send Now</a>
                  </div>
            </div>
            <div class="col-sm-4">
                <div class="d-none d-sm-block wing"><img class="device img-fluid" src="../static/images/wings.png" />
                    <div class="screen"></div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!--testimonial section-->
 <div class="testimonials-clean">
  <div class="container">
      <div class="intro">
          <h2 class="text-center text-dark">Testimonials </h2>
          <p class="text-center">Our customers and tailors love us! Read what they have to say below</p>
      </div>
      <div class="row people">
          <div class="col-md-6 col-lg-4 item">
              <div class="box">
                  <p class="description">I am a fan of this website, i come here whenever i want to look
                    for a good fashion designer</p>
              </div>
              <div class="author"><img class="rounded-circle" src="../static/images/test1.jpg" />
                  <h5 class="name">Mary Johnson</h5>
                  <p class="title">CEO of greene's Inc</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box">
                  <p class="description">I have been a tailor and since i started posting my designs
                    here, customers have been contacting me all the time
                  </p>
              </div>
              <div class="author"><img class="rounded-circle" src="../static/images/test2.jpg" />
                  <h5 class="name">kemi Davids</h5>
                  <p class="title">Founder of Kemi styles.</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box">
                  <p class="description">I have been looking for money to get a shop for some time now, 
                    but since i started posting my clothes here, i haven't been able to meet up to all the customers demands
                  </p>
              </div>
              <div class="author"><img class="rounded-circle" src="../static/images/test1.jpg" />
                  <h5 class="name">Emily Clark</h5>
                  <p class="title">Owner of Creative Ltd.</p>
              </div>
          </div>
      </div>
  </div>
</div>
 
</main>

<footer>
  <div class="footer-dark bg-dark end pt-5">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Fashion design</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Training</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Fashion House</h3>
                    <p>
                      Fashion house is a website for Fashion designers and Tailors to post their designs,
                      clothes and styles ,for customers and fashion lovers to see the designs of tailors
                       and contact the designer.
                    
                      </p>
                </div>
                <div class="col item social">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-snapchat"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Fashion House © 2021</p>
        </div>
    </footer>
</div>
    
</footer>





<!--script for nav-->
<script>
  function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }
  
  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }
  </script>
  <!--end of script for nav-->

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>