<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Work+Sans&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">  
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/store.css">
    <title>Details-Fashion house</title>
  </head>
  <body>
<header>
<!--navar-->
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="index.html">Fashion House</a>
        <span><img src="../static/images/item.png" class="menu" onclick="openNav()"> </span>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mx-auto">
                <li role="presentation" class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="stores.html">Store</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Contact</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" href="adminLogIn.html">Admin Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--navigation menu for mobile devices-->
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="index.html">Home</a>
      <a href="stores.html">Store</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
      <a href="adminLogIn.html">Admin Login</a>
    </div>
  </div>
</nav>
</header>
<main>
<div class="container display">
    <div class="row no-gutters">
        <div class="col-md-1">
            <h3 class="text-center">FahionHouse</h3>
        </div>
        <div class="col-md-5">
            <img src="../static/images/woyin.jpg" alt="" class="img-fluid picture">
        </div>
        <div class="col-md-6 pl-3">
            <div class="title">
                <img src="../static/images/test2.jpg" class="round" alt="" class="img-fluid">
                <h2>Mariam Jackson</h2>
            </div>
            <p class="mt-2"><span style="font-weight:900;" class="mr-5">Material :</span> Ankara</p>
            <div>
                <h4 style="font-weight: 900;">Description</h4>
                <p>This is a red ankara material that has been used to make a shirt, skirt and head gear </p>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title abt">About</h4>
                    <p class="card-text">Mariam Jackson is a Fashion designer and ceo of Mariam wears
                        she owns a Boutique in Lagos and she is well known for her intrest in Ankara
                        materials
                    </p>
                </div>
            </div>
            <div class="phone d-flex pt-3">
                <i class="fa fa-phone-alt pr-2" aria-hidden="true"></i>
                <p>08100349932</p>
            </div>
            <div class="whatsapp d-flex">
                <i class="fab fa-whatsapp pr-2"></i>
                <p>08145381099</p>
            </div>
            <div class="location d-flex">
                <i class="fa fa-map-marker-alt pr-2"></i>
                <p>Lagos, Nigeria</p>
            </div>
            <a href="tel:08145381055">
            <button type="button" class="btn btn-default contact">Contact Designer</button>
            </a>
        </div>
    </div>
</div>
<hr>
<h3 class="contd">YOU MAY ALSO LIKE</h3>
<div class="container may">
    <div class="row">
        <div class="col-lg-3">
            <img src="../static/images/stancy.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3">
            <img src="../static/images/fold.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3">
            <img src="../static/images/lima.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-3">
            <img src="../static/images/benji.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>



</main>
<footer>
  <div class="footer-dark bg-dark end pt-5 mt-5">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Fashion design</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Training</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Fashion House</h3>
                    <p>
                      Fashion house is a website for Fashion designers and Tailors to post their designs,
                      clothes and styles ,for customers and fashion lovers to see the designs of tailors
                       and contact the designer.
                    
                      </p>
                </div>
                <div class="col item social">
                  <a href="#"><i class="fab fa-facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-snapchat"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">Fashion House © 2021</p>
        </div>
    </footer>
</div>
</footer>


    <!--script for nav-->
<script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }
    
    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
    </script>
    <!--end of script for nav-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>